.form-btn {
  display: inline-block;
  position: relative;
}

.contact {
  background-image: url("./../sidebar_background.jpg");
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  background-size: cover;
}

.chat-box {
  height: 580px;
  margin-top: 15px;
  overflow-y: auto;
}

.panel-body > ul > li {
  list-style-type: none;
  margin-left: -20px;
}

.form-group {
  display: inline;
}

.msg-span {
  display: inline-block;
  max-width: 200px;
  background-color: #e0e0e0;
  padding: 5px;
  border-radius: 4px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0;
  border-top-color: white;
  border-bottom-color: white;
  word-wrap: break-word;
}

.left {
  float: left;
}

.msg-span.left:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: -8.5px;
  top: 7px;
  height: 0px;
  width: 0px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #e0e0e0;
}

.msg-span.left:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -9px;
  top: 7px;
  height: 0px;
  width: 0px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #e0e0e0;
}

.msg-span.right:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -8px;
  top: 6px;
  height: 0px;
  width: 0px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #4fc3f7;
}

.msg-span.right:before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -9px;
  top: 6px;
  height: 0px;
  width: 0px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #4fc3f7;
}

.msg-span.right {
  color: white;
  float: right;
  background-color: #4fc3f7;
}

.clear {
  clear: both;
}

.time {
  clear: both;
  animation: 1s fadein;
}
.time-right {
  clear: both;
  float: right;
  animation: 1s fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.user-wrapper {
  margin-top: 5px;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}

.user-image {
  background-image: url("./../user.png");
  height: 30px;
  width: 30px;
  background-size: cover;
  align-self: flex-start;
  margin-right: 4px;
}
.user-name {
  align-self: center;
  color: white;
  font-weight: 600;
}

.user-status {
  align-self: center;
  margin-left: auto;
  background-image: url("./../green-dot.png");
  height: 10px;
  width: 10px;
  background-size: cover;
  box-shadow: 0px 0px 8px green;
  border-radius: 50%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.people-header {
  color: white;
  font-weight: 100;
  font-stretch: condensed;
}

.joinroom-container {
  /* background-color: skyblue; */
  height: 100vh;
  align-content: center;
  z-index: 1;
  background-image: url("./../banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.joinroom-modal {
  background-color: white;
  width: 20%;
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -115px 0 0 -150px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.header {
  text-align: center;
}

.user-list {
  list-style: none;
  margin-left: -40px;
}

.user-list li:before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  margin-right: 5px;
  background-image: url("./../green-dot.png");
  background-size: cover;
}

.user-list li {
  color: white;
}

.map-marker {
  background-image: url("./../marker.png");
  height: 30px;
  width: 30px;
  background-size: cover;
  background-repeat: no-repeat;
}

.map-url:link {
  color: black;
  text-decoration: none;
}

.map-url:visited {
  color: black;
  text-decoration: none;
}

.map-url:hover {
  color: black;
  text-decoration: none;
}

.map-url:active {
  color: black;
  text-decoration: none;
}
